absl-py==2.1.0
asttokens==2.4.1
astunparse==1.6.3
attrs==22.1.0
autopep8==2.3.1
bandit==1.7.9
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
comm==0.2.2
contourpy==1.3.0
coverage==6.5.0
cryptography==38.0.1
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
defer==1.0.4
distlib==0.3.8
executing==2.1.0
filelock==3.16.0
flake8==5.0.4
Flask==2.2.2
Flask-Login==0.6.2
Flask-SQLAlchemy==2.5.1
flatbuffers==24.3.25
fonttools==4.54.1
gast==0.6.0
google-api-core==2.10.1
google-api-python-client==2.48.0
google-auth==2.12.0
google-auth-httplib2==0.1.0
Google-Images-Search==1.4.7
google-pasta==0.2.0
googleapis-common-protos==1.56.4
greenlet==3.1.0
grpcio==1.67.0
h5py==3.12.1
httplib2==0.20.4
idna==3.4
importlib-metadata==5.0.0
iniconfig==1.1.1
ipykernel==6.29.5
ipython==8.27.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
kagglehub==0.3.3
keras==3.6.0
kiwisolver==1.4.7
libclang==18.1.1
mando==0.7.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.4.1
namex==0.0.8
nest-asyncio==1.6.0
numpy==2.0.2
opt_einsum==3.4.0
optree==0.13.0
packaging==21.3
pandas==2.2.3
parso==0.8.4
pbr==6.1.0
pillow==10.4.0
platformdirs==4.3.1
pluggy==1.0.0
prompt_toolkit==3.0.47
protobuf==4.21.7
psutil==6.0.0
pure_eval==0.2.3
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pyfiglet==0.8.post1
pyflakes==2.5.0
Pygments==2.18.0
PyMySQL==1.0.2
pyparsing==3.0.9
pytest==7.1.3
python-dateutil==2.9.0.post0
python-resize-image==1.1.20
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
radon==6.0.1
requests==2.28.1
rich==13.8.1
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
setuptools==75.1.0
six==1.16.0
SQLAlchemy==1.4.41
stack-data==0.6.3
stevedore==5.3.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==1.1.0
threadpoolctl==3.5.0
tomli==2.0.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==1.26.12
virtualenv==20.26.4
wcwidth==0.2.13
Werkzeug==2.2.2
wheel==0.44.0
windows-curses==2.4.0
wrapt==1.16.0
zipp==3.8.1
black

