<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}

<div class="container">
    <div class="row top-buffer">
        <div class="col-sm"></div>
    </div>
    <form action="/newrecommendations" method="POST" id="recoForm">
        <div class="row top-buffer">
            <div class="col-2">
                <label for="gender">Gender</label>
                <select class="custom-select" id="gender" name="gender">
                    <option value="" selected>Select Gender</option>
                    <option value="Men">Men</option>
                    <option value="Women">Women</option>
                    <option value="Boys">Boys</option>
                    <option value="Girls">Girls</option>
                    <option value="Unisex">Unisex</option>
                </select>
            </div>
            <div class="col-2">
                <label for="masterCategory">Master Category</label>
                <select class="custom-select" id="masterCategory" name="masterCategory">
                    <option value="" selected>Select Master Category</option>
                    <option value="Apparel">Apparel</option>
                    <option value="Accessories">Accessories</option>
                    <option value="Footwear">Footwear</option>
                    <option value="Personal Care">Personal Care</option>
                    <option value="Free Items">Free Items</option>
                    <option value="Sporting Goods">Sporting Goods</option>
                </select>
            </div>
            <div class="col-2">
                <label for="subCategory">Sub Category</label>
                <select class="custom-select" id="subCategory" name="subCategory">
                    <option value="" selected>Select Sub Category</option>
                    <option value="Topwear">Topwear</option>
                    <option value="Bottomwear">Bottomwear</option>
                    <option value="Watches">Watches</option>
                    <option value="Socks">Socks</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Belts">Belts</option>
                    <option value="Flip Flops">Flip Flops</option>
                    <option value="Bags">Bags</option>
                    <option value="Innerwear">Innerwear</option>
                    <option value="Sandal">Sandal</option>
                    <option value="Shoe Accessories">Shoe Accessories</option>
                    <option value="Fragrance">Fragrance</option>
                    <option value="Jewellery">Jewellery</option>
                    <option value="Lips">Lips</option>
                    <option value="Saree">Saree</option>
                    <option value="Eyewear">Eyewear</option>
                    <option value="Nails">Nails</option>
                    <option value="Scarves">Scarves</option>
                    <option value="Dress">Dress</option>
                    <option value="Loungewear and Nightwear">Loungewear and Nightwear</option>
                    <option value="Wallets">Wallets</option>
                    <option value="Apparel Set">Apparel Set</option>
                    <option value="Headwear">Headwear</option>
                    <option value="Mufflers">Mufflers</option>
                    <option value="Skin Care">Skin Care</option>
                    <option value="Makeup">Makeup</option>
                    <option value="Free Gifts">Free Gifts</option>
                    <option value="Ties">Ties</option>
                    <option value="Accessories">Accessories</option>
                    <option value="Skin">Skin</option>
                    <option value="Beauty Accessories">Beauty Accessories</option>
                    <option value="Water Bottle">Water Bottle</option>
                    <option value="Eyes">Eyes</option>
                    <option value="Bath and Body">Bath and Body</option>
                    <option value="Gloves">Gloves</option>
                    <option value="Sports Accessories">Sports Accessories</option>
                    <option value="Cufflinks">Cufflinks</option>
                    <option value="Sports Equipment">Sports Equipment</option>
                    <option value="Stoles">Stoles</option>
                </select>
            </div>
            <div class="col-2">
                <label for="articleType">Article Type</label>
                <select class="custom-select" id="articleType" name="articleType">
                    <option value="" selected>Select Article Type</option>
                    <option value="Shirts">Shirts</option>
                    <option value="Jeans">Jeans</option>
                    <option value="Watches">Watches</option>
                    <option value="Track Pants">Track Pants</option>
                    <option value="Tshirts">Tshirts</option>
                    <option value="Socks">Socks</option>
                    <option value="Casual Shoes">Casual Shoes</option>
                    <option value="Belts">Belts</option>
                    <option value="Flip Flops">Flip Flops</option>
                    <option value="Handbags">Handbags</option>
                    <option value="Tops">Tops</option>
                    <option value="Bra">Bra</option>
                    <option value="Sandals">Sandals</option>
                    <option value="Shoe Accessories">Shoe Accessories</option>
                    <option value="Sweatshirts">Sweatshirts</option>
                    <option value="Deodorant">Deodorant</option>
                    <option value="Formal Shoes">Formal Shoes</option>
                    <option value="Bracelet">Bracelet</option>
                    <option value="Lipstick">Lipstick</option>
                    <option value="Flats">Flats</option>
                    <option value="Kurtas">Kurtas</option>
                    <option value="Waistcoat">Waistcoat</option>
                    <option value="Sports Shoes">Sports Shoes</option>
                    <option value="Shorts">Shorts</option>
                    <option value="Briefs">Briefs</option>
                    <option value="Sarees">Sarees</option>
                    <option value="Perfume and Body Mist">Perfume and Body Mist</option>
                    <option value="Heels">Heels</option>
                    <option value="Sunglasses">Sunglasses</option>
                    <option value="Innerwear Vests">Innerwear Vests</option>
                    <option value="Pendant">Pendant</option>
                    <option value="Nail Polish">Nail Polish</option>
                    <option value="Laptop Bag">Laptop Bag</option>
                    <option value="Scarves">Scarves</option>
                    <option value="Rain Jacket">Rain Jacket</option>
                    <option value="Dresses">Dresses</option>
                    <option value="Night suits">Night suits</option>
                    <option value="Skirts">Skirts</option>
                    <option value="Wallets">Wallets</option>
                    <option value="Blazers">Blazers</option>
                    <option value="Ring">Ring</option>
                    <option value="Kurta Sets">Kurta Sets</option>
                    <option value="Clutches">Clutches</option>
                    <option value="Shrug">Shrug</option>
                    <option value="Backpacks">Backpacks</option>
                    <option value="Caps">Caps</option>
                    <option value="Trousers">Trousers</option>
                    <option value="Earrings">Earrings</option>
                    <option value="Camisoles">Camisoles</option>
                    <option value="Boxers">Boxers</option>
                    <option value="Jewellery Set">Jewellery Set</option>
                    <option value="Dupatta">Dupatta</option>
                    <option value="Capris">Capris</option>
                    <option value="Lip Gloss">Lip Gloss</option>
                    <option value="Bath Robe">Bath Robe</option>
                    <option value="Mufflers">Mufflers</option>
                    <option value="Tunics">Tunics</option>
                    <option value="Jackets">Jackets</option>
                    <option value="Trunk">Trunk</option>
                    <option value="Lounge Pants">Lounge Pants</option>
                    <option value="Face Wash and Cleanser">Face Wash and Cleanser</option>
                    <option value="Necklace and Chains">Necklace and Chains</option>
                    <option value="Duffel Bag">Duffel Bag</option>
                    <option value="Sports Sandals">Sports Sandals</option>
                    <option value="Foundation and Primer">Foundation and Primer</option>
                    <option value="Sweaters">Sweaters</option>
                    <option value="Free Gifts">Free Gifts</option>
                    <option value="Trolley Bag">Trolley Bag</option>
                    <option value="Tracksuits">Tracksuits</option>
                    <option value="Swimwear">Swimwear</option>
                    <option value="Shoe Laces">Shoe Laces</option>
                    <option value="Fragrance Gift Set">Fragrance Gift Set</option>
                    <option value="Bangle">Bangle</option>
                    <option value="Nightdress">Nightdress</option>
                    <option value="Ties">Ties</option>
                    <option value="Baby Dolls">Baby Dolls</option>
                    <option value="Leggings">Leggings</option>
                    <option value="Highlighter and Blush">Highlighter and Blush</option>
                    <option value="Travel Accessory">Travel Accessory</option>
                    <option value="Kurtis">Kurtis</option>
                    <option value="Mobile Pouch">Mobile Pouch</option>
                    <option value="Messenger Bag">Messenger Bag</option>
                    <option value="Lip Care">Lip Care</option>
                    <option value="Face Moisturisers">Face Moisturisers</option>
                    <option value="Compact">Compact</option>
                    <option value="Eye Cream">Eye Cream</option>
                    <option value="Accessory Gift Set">Accessory Gift Set</option>
                    <option value="Beauty Accessory">Beauty Accessory</option>
                    <option value="Jumpsuit">Jumpsuit</option>
                    <option value="Kajal and Eyeliner">Kajal and Eyeliner</option>
                    <option value="Water Bottle">Water Bottle</option>
                    <option value="Suspenders">Suspenders</option>
                    <option value="Lip Liner">Lip Liner</option>
                    <option value="Robe">Robe</option>
                    <option value="Salwar and Dupatta">Salwar and Dupatta</option>
                    <option value="Patiala">Patiala</option>
                    <option value="Stockings">Stockings</option>
                    <option value="Eyeshadow">Eyeshadow</option>
                    <option value="Headband">Headband</option>
                    <option value="Tights">Tights</option>
                    <option value="Nail Essentials">Nail Essentials</option>
                    <option value="Churidar">Churidar</option>
                    <option value="Lounge Tshirts">Lounge Tshirts</option>
                    <option value="Face Scrub and Exfoliator">Face Scrub and Exfoliator</option>
                    <option value="Lounge Shorts">Lounge Shorts</option>
                    <option value="Gloves">Gloves</option>
                    <option value="Mask and Peel">Mask and Peel</option>
                    <option value="Wristbands">Wristbands</option>
                    <option value="Tablet Sleeve">Tablet Sleeve</option>
                    <option value="Ties and Cufflinks">Ties and Cufflinks</option>
                    <option value="Footballs">Footballs</option>
                    <option value="Stoles">Stoles</option>
                    <option value="Shapewear">Shapewear</option>
                    <option value="Nehru Jackets">Nehru Jackets</option>
                    <option value="Salwar">Salwar</option>
                    <option value="Cufflinks">Cufflinks</option>
                    <option value="Jeggings">Jeggings</option>
                </select>
            </div>
            <div class="col-2">
                <label for="baseColour">Base Colour</label>
                <select class="custom-select" id="baseColour" name="baseColour">
                    <option value="" selected>Select Colour</option>
                    <option value="Navy Blue">Navy Blue</option>
                    <option value="Blue">Blue</option>
                    <option value="Silver">Silver</option>
                    <option value="Black">Black</option>
                    <option value="Grey">Grey</option>
                    <option value="Green">Green</option>
                    <option value="Purple">Purple</option>
                    <option value="White">White</option>
                    <option value="Beige">Beige</option>
                    <option value="Brown">Brown</option>
                    <option value="Bronze">Bronze</option>
                    <option value="Teal">Teal</option>
                    <option value="Copper">Copper</option>
                    <option value="Pink">Pink</option>
                    <option value="Off White">Off White</option>
                    <option value="Maroon">Maroon</option>
                    <option value="Red">Red</option>
                    <option value="Khaki">Khaki</option>
                    <option value="Orange">Orange</option>
                    <option value="Coffee Brown">Coffee Brown</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Charcoal">Charcoal</option>
                    <option value="Gold">Gold</option>
                    <option value="Steel">Steel</option>
                    <option value="Tan">Tan</option>
                    <option value="Multi">Multi</option>
                    <option value="Magenta">Magenta</option>
                    <option value="Lavender">Lavender</option>
                    <option value="Sea Green">Sea Green</option>
                    <option value="Cream">Cream</option>
                    <option value="Peach">Peach</option>
                    <option value="Olive">Olive</option>
                    <option value="Skin">Skin</option>
                    <option value="Burgundy">Burgundy</option>
                    <option value="Grey Melange">Grey Melange</option>
                    <option value="Rust">Rust</option>
                    <option value="Rose">Rose</option>
                    <option value="Lime Green">Lime Green</option>
                    <option value="Mauve">Mauve</option>
                    <option value="Turquoise Blue">Turquoise Blue</option>
                    <option value="Metallic">Metallic</option>
                    <option value="Mustard">Mustard</option>
                    <option value="Taupe">Taupe</option>
                    <option value="Nude">Nude</option>
                    <option value="Mushroom Brown">Mushroom Brown</option>
                </select>
            </div>
            <div class="col-2">
                <label for="season">Season</label>
                <select class="custom-select" id="season" name="season">
                    <option value="" selected>Select Season</option>
                    <option value="Summer">Summer</option>
                    <option value="Winter">Winter</option>
                    <option value="Fall">Fall</option>
                    <option value="Spring">Spring</option>
                </select>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-2">
                <label for="usage">Usage</label>
                <select class="custom-select" id="usage" name="usage">
                    <option value="" selected>Select Usage</option>
                    <option value="Casual">Casual</option>
                    <option value="Ethnic">Ethnic</option>
                    <option value="Formal">Formal</option>
                    <option value="Sports">Sports</option>
                    <option value="Smart Casual">Smart Casual</option>
                    <option value="Travel">Travel</option>
                    <option value="Party">Party</option>
                </select>
            </div>
            <div class="col-2 mt-4">
                <button id="go" name="go" type="button" class="btn recoButton1 btn-primary btn-rounded">GO</button>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-12">
                <div align="center" id="center" style="display:none">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
